.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
body{
    background-color: black;
    height: 750px; ;
    width: 1440px;
}
.nav-tittle{
    font-weight: bold;
    font-size: 45px;
    font-style:  italic;
    color: #E6533C;
}                                      
.white-1{
    color: #FFFFFF;
}
.btn-primary{
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color:  #E6533C;
    color: #fff;
    text-decoration: none;
    border-radius: 120px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.btn-secondary{
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color:  black;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border: 1.5px solid #FFFFFF;
    border-radius: 120px;
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    border: 0.1px solid rgb(144, 137, 137);
    border-radius: 120px;
    list-style: none;
    padding: 0;
}
nav ul li{
    list-style: none; 
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 25px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-content{
    max-width:500px;
    max-height: 300px;
}
.banner-tittle{
    font-size: 78px;
}
.banner-profile-pic{
    width: 400px;
}
.font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-synthesis-style: initial;
}
.flex-row-e {
    position: relative;
    width: 206px;
    height: 220px;
    margin: -2px 0 0 190px;
    z-index: 24;
  }
   .images {
    position: absolute;
    width: 349px;
    height: 580px;
    top: 0px;
    left: 691px;
    background-size: cover;
  }
  .vector {
    position: absolute;
    width: 502px;
    height: 308px;
    top: 80px;
    left: 0;
    background-size: cover;
    z-index: 24;
  }
  .rectangle {
    position: absolute;
    width: 193px;
    height: 98px;
    top: -490px;
    left: 1100px;
    font-size: 0px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 12;
    border-radius: 12px;
    backdrop-filter: blur(10px);
  }
  .plus {
    display: block;
    position: relative;
    height: 40px;
    margin: 17px 0 0 24px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1px;
    z-index: 13;
  }
.free-workout-videos {
    display: block;
    position: relative;
    height: 20px;
    margin: 6px 0 0 24px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1px;
    z-index: 14;
  }
  .polygon {
    position: absolute;
    width: 1.8%;
    height: 2.52%;
    top: 52%;
    left: 54.68%;
    background-size: 100% 100%;
    z-index: 10;
  }
  .rectangle-5 {
    position: absolute;
    width: 206px;
    height: 96px;
    top: -200px;
    left: 700px;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 2;
    border-radius: 12px;
    backdrop-filter: blur(10px);
  }
  .flex-column-c {
    position: absolute;
    width: 108px;
    height: 56px;
    top: 19px;
    left: 74px;
    font-size: 0px;
    z-index: 7;
  }
  .plus-6 {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 0;
    color: #fafaf9;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.3px;
    z-index: 6;
  }
  .video-tutorial {
    display: block;
    position: relative;
    height: 24px;
    margin: 8px 0 0 0;
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.5px;
    z-index: 7;
  }
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 58px;
    position: relative;
    top: 300px;
    left: -600px;
    width: 1044px;
    margin: 0 auto;
  }
  .frame-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    width: 671px;
  }
  .change-habits {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }
  .accessible-fitness {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 2;
  }
  .frame-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    width: 1044px;
    z-index: 3;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 231px;
    z-index: 4;
  }
  .frame-4 {
    flex-shrink: 0;
    position: relative;
    width: 180px;
    height: 180px;
    background: rgb(13, 12, 12);
    border: 4px solid rgba(255, 255, 255, 0.1) ;
    z-index: 5;
    overflow: hidden;
    border-radius: 100px;
    box-sizing: content-box;
  }
  .image {
    position: absolute;
    width: 272px;
    height: 180px;
    top: 0;
    left: 0px;
    background-size: cover;
    z-index: 6;
  }
  .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 6px;
    position: relative;
    width: 231px;
    z-index: 7;
  }
  .movement {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .accessible-to-everyone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 9;
  }
  .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 231px;
    z-index: 10;
  }
  .frame-7 {
    flex-shrink: 0;
    position: relative;
    width: 180px;
    height: 180px;
    background: rgb(13, 12, 12);
    border: 4px solid rgba(255, 255, 255, 0.1);
    z-index: 11;
    overflow: hidden;
    border-radius: 100px;
    box-sizing: content-box;
  }
  .image-8 {
    position: absolute;
    width: 360px;
    height: 188px;
    top: -4px;
    left: 0px;
    background-size: cover;
    z-index: 12;
    justify-content: center;
  }
  .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 6px;
    position: relative;
    min-width: 0;
    z-index: 13;
  }
  .time {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .accessible-to-everyone-a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 15;
  }
  .frame-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 231px;
    z-index: 16;
  }
  .frame-y {
    flex-shrink: 0;
    position: relative;
    width: 180px;
    height: 180px;
    background: rgb(13, 12, 12);
    border: 4px solid rgba(255, 255, 255, 0.1);
    z-index: 17;
    overflow: hidden;
    border-radius: 100px;
    box-sizing: content-box;
  }
  .image-1 {
    position: absolute;
    width: 240px;
    height: 180px;
    top: 0;
    left: 0px;
    background-size: cover;
    z-index: 18;
  }
  .frame-z {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 6px;
    position: relative;
    min-width: 0;
    z-index: 19;
  }
  .practice {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .accessible {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 21;
  }
  .frame-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 231px;
    z-index: 22;
  }
  .frame-10 {
    flex-shrink: 0;
    position: relative;
    width: 180px;
    height: 180px;
    background: rgb(13, 12, 12);
    border: 4px solid rgba(255, 255, 255, 0.1);
    z-index: 23;
    overflow: hidden;
    border-radius: 100px;
    box-sizing: content-box;
  }
  .image-11 {
    position: absolute;
    width: 270px;
    height: 180px;
    top: 0;
    left: 0px;
    background-size: cover;
    z-index: 24;
  }
  .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 6px;
    position: relative;
    min-width: 0;
    z-index: 25;
  }
  .weight-loss {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .accessible-to-everyone-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 27;
  }
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 62px;
    position: relative;
    width: 1060px;
    margin: 0 auto;
  }
  .frame-x {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 371px;
    background: #222222;
    overflow: hidden;
    border-radius: 18px;
  }
  .rectangle-6 {
    position: absolute;
    width: 366px;
    height: 312px;
    bottom: 29px;
    left: 662px;
    background-size: cover;
    z-index: 1;
    border-radius: 18px;
  }
  .frame-y {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 34px;
    position: absolute;
    width: 443px;
    height: 290px;
    top: 50%;
    left: 54px;
    transform: translate(0, -49.83%);
    z-index: 2;
  }
  .frame-z {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    min-width: 0;
    z-index: 3;
  }
  .run-extra-mile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 443px;
    height: 116px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    text-overflow: initial;
    z-index: 4;
    overflow: hidden;
  }
  .accessible-fitness {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 443px;
    height: 72px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    z-index: 5;
  }
  .button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 224px;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
    background: #e6533c;
    border: none;
    z-index: 6;
    border-radius: 42px;
  }
  .join-now {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .container1 {
    overflow: hidden;
  }
  
  .container1,
  .container1 * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 88px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
  .frame-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 58px;
    position: relative;
    width: 1060px;
  }
  .frame-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    width: 671px;
    z-index: 1;
  }
  .trainings-and-exercises {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .fitness-accessible {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    z-index: 3;
  }
  .frame-15 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 403px;
    background: #222222;
    z-index: 4;
    overflow: hidden;
  }
  .frame-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 1060px;
    height: 403px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .frame-17 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    z-index: 6;
  }
  .frame-18 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 250px;
    font-size: 0px;
    background: #ffffff;
    z-index: 7;
    overflow: hidden;
  }
  .lorem-ipsum {
    display: block;
    position: relative;
    height: 17px;
    margin: 157px 0 0 24px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .image {
    position: absolute;
    width: 323px;
    height: 218px;
    top: 0;
    left: -16px;
    background: rgba(5, 255, 210, 0.1);
    background-size: cover;
    z-index: 8;
  }
  .frame-19 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 520px;
    font-size: 0px;
    background: #dddddd;
    z-index: 10;
    overflow: hidden;
  }
  .lorem-ipsum-8 {
    display: block;
    position: relative;
    height: 17px;
    margin: 25px 0 0 31px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .image-9 {
    position: absolute;
    width: 539px;
    height: 256px;
    top: -44px;
    left: 0;
    background-size: cover;
    z-index: 11;
  }
  .frame-a {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    font-size: 0px;
    background: #cccccc;
    z-index: 13;
    overflow: hidden;
  }
  .leg-press {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 176px;
    height: 34px;
    margin: 146px 0 0 27px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    z-index: 15;
  }
  .image-b {
    position: absolute;
    width: 388px;
    height: 214px;
    top: -6px;
    left: -42px;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
    z-index: 14;
  }
  .frame-c {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    min-height: 0;
    z-index: 16;
  }
  .frame-d {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 425px;
    font-size: 0px;
    background: #ffffff;
    z-index: 17;
    overflow: hidden;
  }
  .leg-press-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 176px;
    height: 34px;
    margin: 25.5px 0 0 249px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    z-index: 19;
  }
  .image-f {
    position: absolute;
    width: 435px;
    height: 240px;
    top: -13.5px;
    left: -1px;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
    z-index: 18;
  }
  .frame-20 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 288px;
    font-size: 0px;
    background: #bbbbbb;
    z-index: 20;
    overflow: hidden;
  }
  .leg-press-11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 176px;
    height: 34px;
    margin: 144.5px 0 0 34px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    z-index: 22;
  }
  .image-12 {
    position: absolute;
    width: 408px;
    height: 219px;
    top: -7.5px;
    left: -60px;
    background: rgba(66, 255, 0, 0.06);
    background-size: cover;
    z-index: 21;
  }
  .frame-21 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 347px;
    font-size: 0px;
    background: #ffffff;
    z-index: 23;
    overflow: hidden;
  }
  .leg-press-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 176px;
    height: 34px;
    margin: 142.5px 0 0 38px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.943px;
    text-align: left;
    z-index: 25;
  }
  .image-15 {
    position: absolute;
    width: 376px;
    height: 250px;
    top: -24.5px;
    left: -15px;
    background: rgba(0, 71, 255, 0.06);
    background-size: cover;
    z-index: 24;
  }
  .frame-22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    width: 671px;
    z-index: 26;
  }
  .bmi-calculator {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .fitness-accessible-17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    z-index: 28;
  }
  .frame-23 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 487px;
    background: #222222;
    z-index: 29;
    overflow: hidden;
  }
  .frame-24 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 34px;
    position: absolute;
    width: 577px;
    height: 386px;
    top: 50%;
    left: 674px;
    transform: translate(0, -50.39%);
    z-index: 33;
  }
  .frame-1a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    min-width: 0;
    z-index: 34;
  }
  .calculate-your-bmi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 443px;
    height: 34px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .fitness-accessible-1b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 577px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    z-index: 36;
  }
  .frame-1c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    min-width: 0;
    z-index: 37;
  }
  .frame-1d {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 38;
  }
  .button {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    height: 48px;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 39;
    overflow: hidden;
    border-radius: 8px;
  }
  .button-input {
    flex-shrink: 0;
    position: absolute;
    width: 282.5px;
    height: 48px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 41;
    outline: none;
  }
  .height-cm {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .button-1e {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    height: 48px;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 42;
    overflow: hidden;
    border-radius: 8px;
  }
  .button-input-1f {
    flex-shrink: 0;
    position: absolute;
    width: 282.5px;
    height: 48px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 44;
    outline: none;
  }
  .weight-kg {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
  }
  .frame-25 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 45;
  }
  .button-21 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 10px;
    position: relative;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 46;
    overflow: hidden;
    border-radius: 8px;
  }
  .button-input-22 {
    flex-shrink: 0;
    position: absolute;
    width: 282.5px;
    height: 48px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 48;
    outline: none;
  }
  .age {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
  }
  .button-23 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    z-index: 49;
    border-radius: 8px;
  }
  .sex {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
  }
  .chevron-down {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    z-index: 51;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 14px;
    height: 8px;
    margin: 8px 0 0 5px;
    background-size: 100% 100%;
    z-index: 52;
  }
  .frame-26 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 53;
    overflow: hidden;
  }
  .button-25 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    padding: 12px 20px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 54;
    border-radius: 8px;
  }
  .select-an-activity-factor {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
  }
  .chevron-down-26 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 56;
    overflow: hidden;
  }
  .vector-27 {
    position: relative;
    width: 14px;
    height: 8px;
    margin: 8px 0 0 5px;
    background-size: 100% 100%;
    z-index: 57;
  }
  .frame-input {
    flex-shrink: 0;
    position: absolute;
    width: 577px;
    height: 48px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 58;
    outline: none;
  }
  .button-28 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 224px;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
    background: #e6533c;
    border: none;
    z-index: 59;
    border-radius: 42px;
  }
  .calculate {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 60;
  }
  .frame-27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 34px;
    position: absolute;
    width: 443px;
    height: 34px;
    top: 50%;
    left: 187px;
    transform: translate(0, -563.24%);
    z-index: 30;
  }
  .frame-2a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    min-width: 0;
    z-index: 31;
  }
  .bmi-calculator-chart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 443px;
    height: 34px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
    line-height: 33.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .group {
    position: absolute;
    width: 310px;
    height: 216px;
    top: 138px;
    left: 189px;
    z-index: 61;
  }
  .vector-2b {
    position: relative;
    width: 135px;
    height: 1px;
    margin: -0.5px 0 0 175px;
    background-size: cover;
    z-index: 78;
  }
  .flex-row-aaf {
    position: absolute;
    width: 310px;
    height: 216px;
    top: 0;
    left: 0;
    z-index: 80;
  }
  .vector-2c {
    position: absolute;
    width: 0px;
    height: 216px;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 73;
  }
  .vector-2d {
    position: absolute;
    width: 0px;
    height: 216px;
    top: 0;
    left: 159px;
    background-size: cover;
    z-index: 72;
  }
  .vector-2e {
    position: absolute;
    width: 1px;
    height: 216px;
    top: 0;
    left: 309.5px;
    background-size: cover;
    z-index: 74;
  }
  .bmi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 15px;
    left: 18px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 62;
  }
  .weight-status {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 15px;
    left: 182px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .vector-2f {
    position: absolute;
    width: 135px;
    height: 1px;
    top: 47.5px;
    left: 175px;
    background-size: cover;
    z-index: 76;
  }
  .vector-30 {
    position: absolute;
    width: 135px;
    height: 1px;
    top: 90.5px;
    left: 175px;
    background-size: cover;
    z-index: 75;
  }
  .vector-31 {
    position: absolute;
    width: 135px;
    height: 1px;
    top: 132.5px;
    left: 175px;
    background-size: cover;
    z-index: 79;
  }
  .vector-32 {
    position: absolute;
    width: 135px;
    height: 1px;
    top: 174.5px;
    left: 175px;
    background-size: cover;
    z-index: 80;
  }
  .vector-33 {
    position: absolute;
    width: 135px;
    height: 1px;
    top: 215.5px;
    left: 175px;
    background-size: cover;
    z-index: 77;
  }
  .flex-row-dc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 251px;
    height: 17px;
    top: 61px;
    left: 18px;
    z-index: 64;
  }
  .below-18-5 {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .underweight {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 64;
  }
  .flex-row-abe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 216px;
    height: 17px;
    top: 102px;
    left: 18px;
    z-index: 66;
  }
  .text-18 {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
  }
  .healthy {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 66;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 242px;
    height: 17px;
    top: 143px;
    left: 18px;
    z-index: 68;
  }
  .text-1a {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 67;
  }
  .overweight {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
  }
  .flex-row-aa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 208px;
    height: 17px;
    top: 184px;
    left: 17px;
    z-index: 70;
  }
  .text-1c {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .obese {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 70;
  }
  .frame-28 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 58px;
    position: relative;
    width: 1060px;
    z-index: 81;
  }
  .frame-29 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    width: 671px;
    z-index: 82;
  }
  .meet-our-team {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 58px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 83;
  }
  .fitness-accessible-36 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    z-index: 84;
  }
  .frame-30 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 85;
  }
  .frame-31 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    padding: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 86;
    overflow: hidden;
    border-radius: 18px;
  }
  .frame-32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    z-index: 87;
  }
  .rectangle-7{
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 88;
    border-radius: 18px;
  }
  .frame-3a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 212px;
    left: 19px;
    z-index: 89;
  }
  .jerome-bell {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 90;
  }
  .trainer {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 91;
  }
  .rectangle-3b {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 92;
    border-radius: 18px;
  }
  .frame-3c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 505px;
    left: 19px;
    z-index: 93;
  }
  .dianne-russell {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 94;
  }
  .trainer-3d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 95;
  }
  .frame-3e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    z-index: 96;
  }
  .rectangle-3f {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 97;
    border-radius: 18px;
  }
  .rectangle-8 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 98;
    border-radius: 18px;
  }
  .frame-33 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 212px;
    left: 19.333px;
    z-index: 99;
  }
  .cameron-williamson {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 100;
  }
  .trainer-42 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 101;
  }
  .frame-34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 505px;
    left: 19.333px;
    z-index: 102;
  }
  .cody-fisher {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 103;
  }
  .trainer-44 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 104;
  }
  .frame-35 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    z-index: 105;
  }
  .rectangle-9 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 106;
    border-radius: 18px;
  }
  .rectangle-10 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    height: 272px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    background-size: cover;
    z-index: 107;
    border-radius: 18px;
  }
  .frame-36 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 212px;
    left: 18.667px;
    z-index: 108;
  }
  .darrell-steward {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 109;
  }
  .trainer-49 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 110;
  }
  .frame-4a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3px;
    position: absolute;
    width: 59px;
    height: 44px;
    top: 505px;
    left: 18.667px;
    z-index: 111;
  }
  .theresa-webb {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 112;
  }
  .trainer-4b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 113;
  }
  .frame-4c {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 489px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 114;
    overflow: hidden;
  }
  .frame-4d {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 102px;
    position: relative;
    width: 1059px;
    margin: 66px 0 0 190px;
    z-index: 117;
  }
  .frame-4e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 443px;
    z-index: 118;
  }
  .fitness {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 84px;
    color: #e6533c;
    font-size: 70px;
    font-weight: 800;
    line-height: 84px;
    text-align: left;
    white-space: nowrap;
    z-index: 119;
  }
  .fitness-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 443px;
    min-width: 0;
    height: 72px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;
    z-index: 120;
  }
  .frame-4f {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 152px;
    position: relative;
    width: 514px;
    z-index: 121;
  }
  .frame-37 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 39px;
    position: relative;
    width: 181px;
    z-index: 122;
  }
  .get-started {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 38px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    white-space: nowrap;
    z-index: 123;
  }
  .frame-38 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    z-index: 124;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 82px;
    z-index: 125;
  }
  .service {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 126;
  }
  .link-52 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 122px;
    z-index: 127;
  }
  .contact-us {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 128;
  }
  .link-53 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    z-index: 129;
  }
  .affiliate-program {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 130;
  }
  .link-54 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 101px;
    z-index: 131;
  }
  .about-us {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 132;
  }
  .frame-39 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 39px;
    position: relative;
    width: 181px;
    z-index: 133;
  }
  .get-started-56 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 38px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    white-space: nowrap;
    z-index: 134;
  }
  .frame-40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    width: 165px;
    opacity: 0.5;
    z-index: 135;
  }
  .link-58 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 79px;
    z-index: 136;
  }
  .fitness-59 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 137;
  }
  .link-5a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 92px;
    z-index: 138;
  }
  .platform {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 139;
  }
  .link-5b {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 140;
  }
  .workout-library {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 141;
  }
  .link-5c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 125px;
    z-index: 142;
  }
  .app-design {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 143;
  }
  .vector-5d {
    position: relative;
    width: 884.5px;
    height: 2px;
    margin: 78px 0 0 364px;
    background-size: cover;
    z-index: 116;
  }
  .all-rights-reserved {
    display: block;
    position: relative;
    height: 24px;
    margin: 35px 0 0 558px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.3px;
    z-index: 115;
  }